body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    width: 700px;
    height: 700px;
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.droprow {
    width: 700px;
    height: 100px;
    float: left;
    padding: 0;
    margin: 0;
}

.column {
    width: 100px;
    height: 600px;
    float: left;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.slot {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 100%;
    background-color: white;
}

.highlight-slot {
    background-color: lightgray;
    border: 6px dashed orange;
}

.piece {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 100%;
}

#message {
    display: none;
    position: absolute;
    font-family: Helvetica;
    font-size: 100px;
    width: 700px;
    height: 700px;
    left: 50%;
    margin-left: -350px;
    top: 50%;
    margin-top: -300px;
    text-align: center;
    line-height: 700px;
    text-shadow: -5px 0 black, 0 5px black, 5px 0 black, 0 -5px black;
}

#prompt > .cursor {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 45px;
    top: 45px;
    background-position: center;
    background-size: cover;
    animation: moveCursor 1.5s ease-in infinite;
}

#prompt > .prompt-message {
    position: absolute;
    left: 170px;
    top: 5px;
    margin: 0;
    padding: 0;
    color: green;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: bold;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    animation: moveMessage 1s linear alternate infinite;
}

@keyframes moveCursor {
    0% {left: 45px; background-image: url('./click.png');}
    50% {background-image: url('./drag.png');}
    100% {left: 150px;}
}

@keyframes moveMessage {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}
