.container {
    width: 700px;
    height: 700px;
}

.red {
    background-color: red !important;
}

.yellow {
    background-color: yellow !important;
}

.droprow {
    width: 700px;
    height: 100px;
    float: left;
    padding: 0;
    margin: 0;
}

.column {
    width: 100px;
    height: 600px;
    float: left;
    padding: 0;
    margin: 0;
    background-color: blue;
    display: flex;
    flex-direction: column;
}

.slot {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 100%;
    background-color: white;
}

.highlight-slot {
    background-color: lightgray;
    border: 6px dashed orange;
}

.piece {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 100%;
}

